* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

[class*="col-"] {
	float: left;
	padding: 20px;
}

html {
	font-family: 'Playfair Display', serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Josefin Sans', sans-serif;
}

header {
	background: #1abc9c;
	color: #fff;
	padding: 20px;
}

.menu ul {
	list-style: none;
	padding: 0;
	margin: 0;

}

.menu li {
	background-color: #f1c40f;
	color: #fff;
	padding: 15px;
	margin: 0;
}

.menu li:hover {
	background-color: #f39c12; 
}

#main {
	text-align: justify;
}

.aside {
	background-color: #e74c3c;
	color: #fff;
	padding: 20px;
	margin-bottom: 20px;
	text-align: justify;
}

.aside hr {
	width: 30px;
	height: 2px;
	background-color: #fff;
	border: none;
	margin: 0;

}

footer {
	clear: both;
	background-color: #3498db;
	color: #fff;
	padding: 20px;
}

/* MEDIA QUERIES */

/* FOR MOBILE PHONES */
[class*=col-] {
	width: 100%;
}

/* FOR TABLETS */
@media only screen and (min-width: 600px) {
	.col-m-3 {width: 25%;}
	.col-m-6 {width: 50%;}
	.col-m-9 {width: 75%;}
	.col-m-12 {width:100%;}

	#main {padding-left: 0;}
}

/* FOR DESKTOPS */
@media only screen and (min-width: 992px) {
	.col-3 {width: 25%;}
	.col-6 {width: 50%;}
	.col-9 {width: 75%;}
	.col-12 {width:100%;}

	#main {padding-left: 0;}
}
